#edit-view-video.hidden-if-js
  .edit-product__dialog
    = form_tag catalog_product_path(@product), method: :patch, id: 'product_form' do
      .edit-product__section.edit-product__section--sample-plugin
        .property
          = label_tag dom_id(product, :sample_header_for), class: 'property__name' do
            %span.property__text Header
          .value= text_field_tag 'product[sample_header]', product['sample_header'], id: dom_id(product, :sample_header_for), class: 'text-box text-box--i18n'

        .property
          = label_tag dom_id(product, :sample_text_for), class: 'property__name' do
            %span.property__text Text
          .value= text_field_tag 'product[sample_text]', product['sample_text'], id: dom_id(product, :sample_text_for), class: 'text-box text-box--i18n'

        .form-actions
          .action-group
            %p.action-group__item= link_to 'Cancel', :back, class: 'text-button text-button--muted', data: { dialog_close_button: '' }
            %p.action-group__item
              = button_tag 'Save Videos', value: 'save_videos', class: 'button'
